#myname, #mynameSpan {
    width: 30%;
}

.mymessage {
    color: #00FFFF;
}

#setNameBtn, #sendBtn {
    height: 10%;
    width: 30%;
}

#sendToBar, #textDiv {
    position: fixed;
    bottom: 10px;
    width: 99%;
}

#talkWin {
    overflow: auto;
}

#inputText {
    color: #08f;
    width: 62%;
}
/*--字体相对大小*/
span {
    font-size: 1.5em;
}